.container {
    padding: 0 40px;
    margin: 0 auto;
    max-width: 1000px;

    .infoContainer {
        text-align: center;
        margin-bottom: 50px;
    }

    .settingsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .error {
            background-color: rgba(255, 0, 0, 0.507);
            padding: 10px;
            border-radius: 7px;
            color: #fff;
        }

        .heading {
            font-size: 24px;
            font-weight: 600;
        }

        .moveOption, .numMatches, .numMatchesPerMove {
            display: flex;
            flex-direction: column;
            gap: 5px;

            input {
                align-self: center;
                padding: 10px;
                max-width: 80px;
                text-align: center;
                border-radius: 6px;
                border: 1px solid #bdbdbd;

                &:focus {
                    outline: 1px solid #b6b6b6;
                }
            }

            .select {
                padding: 10px;
                border-radius: 6px;
                border: 1px solid #bdbdbd;

                option {
                    padding: 10px;
                }

                &:focus {
                    outline: 1px solid #b6b6b6;
                }
            }
        }

        .button {
            padding: 12px 30px;
            border-radius: 10px;
            border: none;
            background-color: rgba(255, 172, 63, 0.849);
            color: #fff;
            font-size: 18px;
            font-weight: 700;
            cursor: pointer;
        }
    }
}